body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
em,
p{
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu,.nav-ul, section, summary {
	display: block;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: #44b549;
}
body{
	color: #000;
	background: #ebebeb;
	font: 16px "lucida grande", "lucida sans unicode", lucida, "Helvetica Neue", helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.clearfix:after{
	content:".";
	clear:both;
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
}
.clearfix{
	*zoom:1
}
.width-limit{
	min-width: 320px;
	max-width: 1440px;
	margin: 0 auto;
}
#nav{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
	height: 56px;
	z-index: 1030;
	border-bottom: 1px solid #e7e7e7;
}
.site-title{
	float: left;
}
.site-title a{
/*	width: 188px;
	height: 47px;
	display: block;
	background: url(./logo.png) no-repeat;
	line-height: 1000px;
	overflow: hidden;*/
	font-size: 28px;
	font-weight: bold;
	line-height: 57px;
	padding: 0 20px;

}
/*.site-description{
}*/
.nav-ul{
	width: calc(100% - 360px);
	margin: 0 auto;
}
.nav-ul li{
	float: left;
}
.nav-ul li a{
	display: block;
	margin: 0 30px;
	color: #000;
	font-size: 16px;
	line-height: 52px;
}
.nav-ul li a:hover{
	border-bottom: 4px solid #44b549;
	color: #44b549;
}
.nav-ul li a.current{
	border-bottom: 4px solid #44b549;
	color: #44b549;
}
.social-links{
	float: right;
	margin-right: 20px;
}
.social-links li{
	float: right;
	margin-left: 10px;
}
.social-links a{
	font-size: 20px;
	line-height: 57px;
}
.container{
	max-width: 1140px;
	min-width: 320px;
	margin: 77px auto 20px;
}
.container-inner{
	padding-right: 320px;
	margin: 0 auto;
}
#main{
	min-width: 320px;
	float: left;
	width: 100%;
	background: #fff;
	border: 1px solid #e7e7e7;
}
.main-header{
	padding: 16px 20px;
	color: #aaa;
	font-size: 16px;
	font-weight: 600;
	border-bottom: 1px solid #e7e7e7;
}
.main-archives{
	padding: 3% 0 3% 3%;
}
.article-summary{
	float: left;
	width: 47%;
	margin: 0 3% 3% 0;
	padding-bottom: 3%;
	border-bottom: 1px solid #e7e7e7;
}
.article-summary:hover .article-title a{
	color: #44b549;
}
.article-summary .thumbnail{
	display: block;
	height: 0;
	margin-bottom: 1em;
	padding-bottom: 55.71%;
	position: relative;
	overflow: hidden;
}
.article-summary .thumbnail-image{
	display: block;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	position: absolute;
}
.article-summary:hover .thumbnail-image{
	opacity: 0.7;
}
.article-meta{
	height: 1.6em;
	line-height: 1.6em;
	overflow: hidden;
}
.article-meta p{
	float: left;
	margin-right: 1em;
	color: #999;
}
.article-summary .article-title{
	margin-bottom: 10px;
	height: 33px;
	overflow: hidden;
	line-height: 33px;
	margin-bottom: 10px;
	font-size: 22px;
}
.article-summary .article-title a{
	color: #444;
}
.article-excerpt{
	font-size: 16px;
	color: #999;
	line-height: 1.6em;
	height: 6.4em;
	overflow: hidden;
}

.article{
	padding: 20px 30px;
	overflow: hidden;
	background: #fff;
}
.article h1.title{
	font-size: 26px;
	letter-spacing: -1px;
	color: #44b549;
	line-height: 1.3em;
	margin-bottom: 10px;
}
.article p.desc{
	font-size: 14px;
	margin-bottom: 10px;
}
.article p.desc a{
	color: #000;
}
.article p.desc a:hover{
	color: #44b549;
}
.article-body{
	color: #222;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.6em;
}
.article-body p,.article-body table{
	margin: 1.6em 0;
}
.article-body img{
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}
.article-body hr{
	border: 1px dashed #ddd;
}
.article-body h1,.article-body h2,.article-body h3,.article-body h4,.article-body h5,.article-body h6{
	line-height: 1.3em;
	margin: 1.3em 0;
	color: #44b549;
}
.article-body h1{
	font-size: 24px;
}
.article-body h2{
	font-size: 22px;
}
.article-body h3{
	font-size: 20px;
}
.article-body h4{
	font-size: 18px;
}
.article-body h5{
	font-size: 16px;
}
.article-body h6{
	font-size: 14px;
}
.article code{
	background: #eaeaea;
	padding: 0 0.3em;
}
.article code,.article pre{
	font-size: 14px;
	font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}
.prev-next{
	margin: 30px 30px 20px;
	border-top: 1px solid #ddd;
	padding-top: 1.6em;
}
.prev-next .next{
	float: right;
}
#page-nav{
	text-align: center;
	color: #aaa;
	font-size: 17px;
	font-weight: 300;
	margin-bottom: 40px;
}
#page-nav .pages{
	display: block;
	margin-bottom: 1em;
}
#page-nav .pages:before{
	content: "\f15c";
	font-family: FontAwesome;
	margin-right: 6px;
}
.page-number,.extend{
	border-top: 1px solid #f1f1f1;
	border-bottom: 3px solid #ddd;
	padding: 7px 8px;
	margin: 0 2px;
}
.page-number.current,.page-number:hover,.extend:hover{
	color: #444;
	border-bottom: 3px solid #44b549;
}
#page-nav .space{
	color: #ddd;
}
#sidebar{
	width: 300px;
	float: right;
	margin-right: -320px;
}
.widget{
	background: #fff;
	border: 1px solid #e7e7e7;
	padding: 16px 20px;
	margin-bottom: 20px;
}
img.wechat{
	max-width: 100%;
	height: auto;
}
.widget-title{
	margin-bottom: 10px;
}
.recent-post li{
	padding: 10px 0 10px 94px;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
}
.recent-post li:hover .thumbnail-image{
	opacity: 0.7;
}
.recent-post .item-thumbnail{
	float: left;
	margin-left: -94px;
}
.recent-post .item-thumbnail .thumbnail{
	width: 80px;
	height: 80px;
	display: block;
	position: relative;
	overflow: hidden;
}
.recent-post .item-thumbnail .thumbnail-image{
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	background-size: cover;
}
.recent-post .item-inner{
	font-size: 13px;
}
.recent-post .item-inner a.title{
	color: #444;
}
.recent-post .item-date{
	color: #999;
}
.recent-post li:hover a.title{
	color: #44b549;
}
.widget-list li{
	padding: 10px 0;
	font-size: 15px;
	border-bottom: 1px solid #e4e4e4;
}
.widget-list li a:before{
	content: "\f0da";
	font-family: FontAwesome;
	font-size: 12px;
	color: #ccc;
	margin-right: 6px;
}
.widget-list li span{
	color: #aaa;
	padding-left: 5px;
	font-size: 0.85em;
}
.widget-list li span:before{
	content: "(";
}
.widget-list li span:after{
	content: ")";
}
.widget-list li a:hover:before{
	color: #44b549;
}
#footer{
	font-family: 'Microsoft YaHei',SimSun,sans-serif;
	background: #44b549;
	color: #ddd;
	padding: 20px;
	text-align: center;
	border-top: 1px solid #e7e7e7;
}
#footer a{
	color: #fff;
}
.article-body .highlight{
	background: #f6f5f4;
	margin: 0;
	padding: 15px 20px;
	overflow: auto;
	color: #4d4d4c;
	line-height: 22px;
}
.article-body .highlight .gutter{
	display: none;
}
.article-body .highlight table{
	margin: 0;
}
.article-body .highlight td{
	border: none;
	padding: 0;
}
.article-body .highlight pre{
	border: none;
	padding: 0;
	margin: 0;
}
pre .comment,
pre .title,
pre .template_comment,
pre .header,
pre .javadoc {
  color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo,
pre .winutils,
pre .method,
pre .request,
pre .status,
pre .nginx .title,
pre .diff .change,
pre .special,
pre .attr_selector,
pre .important,
pre .subst,
pre .clojure .title,
pre .deletion {
  color: #c82829;
}
pre .number,
pre .preprocessor,
pre .preprocessor .keyword,
pre .built_in,
pre .literal,
pre .params,
pre .constant,
pre .command,
pre .lisp .body,
pre .parent,
pre .haskell .type {
  color: #f5871f;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute,
pre .addition,
pre .function .title {
  color: #718c00;
}
pre .string,
pre .value,
pre .inheritance,
pre .ruby .symbol,
pre .symbol .string,
pre .xml .cdata {
  color: #718c00;
}
pre .css .hexcolor,
pre .phpdoc,
pre .tex .formula {
  color: #3e999f;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title,
pre .localvars,
pre .chunk,
pre .decorator,
pre .identifier,
pre .vhdl {
  color: #4271ae;
}
pre .keyword,
pre .javascript .function {
  color: #8959a8;
}
#nav-toggle{
	display: none;
}
@media only screen and (max-width: 959px) {
	.site-title{
		float: none;
		text-align: center;
	}
	.social-links{
		position: absolute;
		top: 0;
		right: 0;
		float: none;
	}
	#nav-toggle{
		display: block;
		position: absolute;
		top: 0;
		left: 20px;
		font-size: 20px;
		line-height: 57px;
	}
	.nav-ul{
		display: none;
		width: 100%;
		float: left;
		background: #fff;
	}
	.nav-ul li{
		float: none;
		border-bottom: 1px solid #e7e7e7;
	}
	.nav-ul li a.current{
		border-bottom: none;
	}
	.nav-ul li a:hover{
		border-bottom: none;
	}
	.container{
	margin: 77px auto 0;
	}
	.container-inner{
		padding: 0;
	}
	#main{
		float: none;
		margin-bottom: 20px;
	}
	#sidebar{
		float: none;
		margin: 0;
		width: 100%;
	}
}
@media only screen and (max-width: 480px) {
	#main{
		border: none;
		background: #ebebeb;
	}
	.main-header{
		display: none;
	}
	.main-archives{
		padding: 0 16px 20px;
	}
	.article-summary{
		width: 92%;
		padding: 4%;
		margin: 0 0 20px 0;
		border: 1px solid #e7e7e7;
		background: #fff;
	}
	.article{
		padding: 20px;
	}
}